body {
    background-color: #313337;
    border: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    text-align: center;
    color: white;
    font-size: 16px;
}
p {
    color: white;
    font-size: 12px;
}
a {
    color: #7ACC2D;
    font-size: 12px;
}


